# --- Python & Environnements ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# --- IDE & Système ---
.idea/
.vscode/
*.swp
.DS_Store

# --- Sécurité ---
.env

# --- DOCKER V5 (CRITIQUE) ---
# On ignore les données persistantes des bases et du stockage S3
volumes/

# --- Fichiers Temporaires & Médias ---
temp_*
*_converted.wav
*.mp3
*.wav
*.m4a
*.mp4
*.mkv

# --- ANCIENNES RÉFÉRENCES (V3) ---
recordings/
data_shared/
_REFERENCE_V3_MONOLITHE/

# --- DIVERS ---
node_modules/
.next/
out/
build/
