# --- Environnements Virtuels (CRITIQUE) ---
# On ne copie jamais le venv local dans le conteneur Linux
venv/
.venv/
env/

# --- Cache & Python ---
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# --- Git ---
.git
.gitignore

# --- IDE ---
.idea
.vscode
*.swp
.DS_Store

# --- Configuration Locale ---
.env
Dockerfile
docker-compose.yml
entrypoint.sh  # (Optionnel, mais le Dockerfile le gère déjà spécifiquement)

# --- ⚠️ FICHIERS LOURDS GÉNÉRÉS ⚠️ ---
# Si on ne met pas ça, le build Docker va copier tous tes tests et archives !
recordings/
*.mp3
*.wav
*.m4a
*.mp4
temp_*
*_converted.wav