# On pointe vers CUDA 12.4
--extra-index-url https://download.pytorch.org/whl/cu124

torch
torchvision
torchaudio
fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.9
faster-whisper==1.1.0
pyannote.audio