# ══════════════════════════════════════════════════════════════════════════════
# 1. CORE IA & AUDIO (NVIDIA CUDA 12.4)
# ══════════════════════════════════════════════════════════════════════════════
--extra-index-url https://download.pytorch.org/whl/cu124

torch
torchvision
torchaudio
#faster-whisper==1.1.0
faster-whisper==1.2.1
pyannote.audio
numpy
scipy
librosa
soundfile

# ══════════════════════════════════════════════════════════════════════════════
# 2. API & WEB (FASTAPI)
# (Gardé pour la compatibilité taskiq-fastapi)
# ══════════════════════════════════════════════════════════════════════════════
fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.9

# ══════════════════════════════════════════════════════════════════════════════
# 3. TASKIQ (ASYNC WORKER)
# ══════════════════════════════════════════════════════════════════════════════
taskiq[reload]==0.12.1
taskiq-redis==1.2.1
taskiq-fastapi==0.4.0
redis==7.1.0

# ══════════════════════════════════════════════════════════════════════════════
# 4. PERSISTANCE & STOCKAGE (V5)
# ══════════════════════════════════════════════════════════════════════════════
# Abstraction du système de fichiers
fsspec==2025.12.0
# 👇 AJOUT CRITIQUE POUR MINIO (V5) 👇
s3fs==2025.12.0
python-dotenv

# Base de données (Async)
SQLAlchemy==2.0.45
asyncpg==0.31.0
alembic==1.18.0